Repository hyperledger/toc, pull requests merged in 2024-06, with the labels that each got.

#250 May 30, 2024 Agenda
  meeting-minutes/2024/2024-05-30-TOC-meeting-record.md
Labels: meeting-minutes

#223 Add Cello 2024 Q1/Annual report
  project-reports/2024/2024-annual-Hyperledger-Cello.md
Labels: quarterly-report, annual-review

#258 June 6, 2024 Meeting
  meeting-minutes/2024/2024-06-06-TOC-meeting-record.md
Labels: meeting-minutes

#260 June 13, 2024 Meeting
  meeting-minutes/2024/2024-06-13-TOC-meeting-record.md
Labels: meeting-minutes

#259 Submit Cello's Q2 2024 Summary.
  project-reports/2024/2024-Q2-Hyperledger-Cello.md
Labels: quarterly-report

#265 Update recording link
  meeting-minutes/0000-template.md
  meeting-minutes/2024/2024-02-22-TOC-meeting-record.md
  meeting-minutes/2024/2024-03-14-TOC-meeting-record.md
  meeting-minutes/2024/2024-03-21-TOC-meeting-record.md
  meeting-minutes/2024/2024-03-28-TOC-meeting-record.md
  meeting-minutes/2024/2024-04-04-TOC-meeting-record.md
  meeting-minutes/2024/2024-04-11-TOC-meeting-record.md
  meeting-minutes/2024/2024-04-18-TOC-meeting-record.md
  meeting-minutes/2024/2024-04-25-TOC-meeting-record.md
  meeting-minutes/2024/2024-05-02-TOC-meeting-record.md
  meeting-minutes/2024/2024-05-16-TOC-meeting-record.md
  meeting-minutes/2024/2024-05-23-TOC-meeting-record.md
  meeting-minutes/2024/2024-05-30-TOC-meeting-record.md
  meeting-minutes/2024/2024-06-06-TOC-meeting-record.md
  meeting-minutes/2024/2024-06-13-TOC-meeting-record.md
Labels: meeting-minutes
